<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>MUSICON</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/images/logo.jpg" />
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/responsive.css">
  <link rel="stylesheet" href="../static/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">
</head>

<body class="main-layout">
  <header>
    <div class="header-top">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-md-12">
                  <div class="text-bg">
                    <span>MUSICON</span>
                    <h1>MUSIC + EMOTIONS</h1>
                    <p>Keep Calm & Leave it on Musicon !</p>
                    <a href="/home">LETS TRY ! </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
        </div> -->
      </div>
  </header>

  <div id="about" class="about">
    <div class="container">
      <div class="row display_boxflex">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="about-box">
            <h2>About Musicon</h2>
            <p> Musicon is a Music Recommendation System based on Facial Emotion Recognition. </br> </br> The emotion
              recognition
              model is trained on FER 2013 dataset. It can detect 7 emotions. The project works by getting live video
              feed from web cam, pass it through the model to get a prediction of emotion. Then according to the emotion
              predicted, the app will display list of songs from Spotify through spotipy wrapper and recommend the
              songs by displaying them on the screen. </p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="about-box">
            <figure><img src="../static/images/musicon.jpg" alt="#" /></figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  </div>
  </div>
  </footr>
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/popper.min.js"></script>
  <script src="../scripts/bootstrap.bundle.min.js"></script>
  <script src="../scripts/jquery-3.0.0.min.js"></script>
  <script src="../scripts/plugin.js"></script>
  <script src="../scripts/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../scripts/custom.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>